.env
*.deb
*.rpm

# Additional package locks
pnpm-lock.yaml
yarn.lock

# Go binaries and test artifacts
main
*.test

node_modules

# MacOS
.DS_store

# Intellij
.idea

# how does this get here
doc/VERSION

# custom branding
web/static/img/uvensys_happy.webp
web/static/img/uvensys_pensive.webp
web/static/img/uvensys_reject.webp
